@import 
  'Theme.scss'
  , 'Time.scss'
  , 'Battery.scss'
  , 'Network.scss'
  , 'Workspaces.scss';

window {
  background-color: transparent;
}


.Bar {
  margin-top: .4em;
  margin-bottom: .4em;
  background-color: rgba($base00, .7);
  border: .2em solid rgba($base05, .4);
  border-radius: .2em;
}

.Right {
  color: $base05;
  font-weight: bold;
  font-size: 1.25em;
  margin-left: 3em;
  margin-right: 1em;
}
.Left {
  color: $base05;
  font-weight: bold;
  font-size: 1.25em;
  margin-right: 3em;
  margin-left: 1em;
}
