.Workspaces {
  color: $base05;
  > button {
    margin-left: .5em;
    margin-right: .5em;
    background-color: transparent;
    color: $base05;
    border-radius: 0px;
  }
  .has-clients {
    border-bottom: .2em solid $base0D;
    > label {
      color: $base0D;
    }
  }
  .focused {
    border-bottom: .2em solid $base0B;
    > label {
      color: $base0B;
      font-weight: 900;
      font-size: 1.5em;
    }
  }
}
